<!-- =====================================ADD ASSET BUTTON=============================== -->

<div class="add-button-container">
  <button (click)="showAddDialog()" type="button" class="btn-pos p-button-help my-3"
    [style]="{width: '150px', height: '40px'}" pButton pRipple label="Add Asset" icon="pi pi-plus"></button>
</div>

<!-- ===========================DATAVIEW WITH ASSETS====================== -->
<div id="ua" style="display: flex; flex-direction: column; width: 100%">
  <div id="b">
    <div class="card">
      <div *ngIf="assetList | async; let asset">
        <p-dataView #dv [value]="asset" [paginator]="true" [rows]="3" filterBy="name" layout="list">
          <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
              <span class="p-input-icon-left mb-2 md:mb-0">
                <input type="search" pInputText placeholder="Search by Name"
                  (input)="dv.filter(getEventValue($event))" />
              </span>
            </div>
          </ng-template>
          <ng-template let-asset pTemplate="listItem">
            <div class="col-12">
              <div class="container">
                <div class="row">
                  <div class="col-4 d-flex align-items-center justify-content-center">
                    <i class="pi pi-paperclip" style="font-size: 6rem"></i>
                  </div>
                  <div class="col-8">
                    <div><b>Name: </b>{{ asset.name }}</div>
                    <div><b>Description: </b>{{ asset.description }}</div>
                    <div><b>isWorking: </b>{{ asset.isWorking }}</div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="{{asset.id}}" id="{{asset.id}}" value="false"
                        [checked]="asset.isWorking==='false'" (change)="onCriteriaChange($event, asset)">
                      <label class="form-check-label d-flex d-lg-none" for="{{asset.id}}_false">
                        False
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="{{asset.id}}" id="{{asset.id}}" value="true"
                        [checked]="asset.isWorking==='true'" (change)="onCriteriaChange($event, asset)">
                      <label class="form-check-label d-flex d-lg-none" for="{{asset.id}}_true">
                        True
                      </label>
                    </div>
                    <div><b>Category: </b>{{ asset.category }}</div>
                    <div class="col p-2 d-flex ">
                      <button type="button" (click)="showEditDialog(asset)"
                        class="btn btn-warning d-flex align-items-center justify-content-center">
                        Edit
                        <div id="hover" class="pi pi-pencil"
                          style="font-size: 1,5rem; cursor: pointer; margin-left: 50px">
                        </div>
                      </button>
                      <button type="button" (click)="showDeleteDialog(asset)"
                        class="btn btn-secondary d-flex align-items-center justify-content-center ml-2 btn-danger ">
                        Delete
                        <div id="hover" class="pi pi-trash"
                          style="font-size: 1,5rem; cursor: pointer; margin-left: 30px">
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</div>

<!-- =============================MODAL FOR ADDING AN ASSET================================= -->

<p-dialog header="Asset Room" [(visible)]="displayAddModal" [modal]="true" [style]="{width: '550px'}"
  [draggable]="false" [resizable]="false">
  <form [formGroup]="addAssetForm">
    <label for="float-input">Name</label>
    <br />
    <input placeholder="Asset's Name" id="float-input" type="text" pInputText formControlName="nameControl"
      [style]="{width: '100%'}" />
    <br />
    <label for="float-input">Category</label>
    <br />
    <p-dropdown [options]="categories" formControlName="categoryControl" autoWidth="false" [style]="{'width':'100%'}">
    </p-dropdown>
    <br />
    <label for="float-input">Description</label>
    <br />
    <input placeholder="Asset's Descripiton" id="float-input" type="text" pInputText
      formControlName="descriptionControl" [style]="{width: '100%'}" />
    <br />
  </form>
  <div class="buttons-container  mt-5 d-flex justify-content-around">
    <button pButton pRipple type="submit" label="Close" (click)="hideAddDialog()"
      class="modal-button btn-pos p-button-danger"></button>

    <button pButton pRipple type="submit" label="Submit" (click)="addAsset()" [disabled]="!addAssetForm.valid"
      class="modal-button btn-pos p-button-success"></button>
  </div>
</p-dialog>

<!-- =============================MODAL FOR EDITING AN ASSET================================= -->

<p-dialog header="Edit Asset" class="overflow-visible" [(visible)]="displayEditModal" [modal]="true"
  [style]="{width: '550px'}" [draggable]="false" [resizable]="false">
  <form [formGroup]="editAssetForm">
    <label for="float-input">Name</label>
    <br />
    <input placeholder="nameControl" id="float-input" type="text" pInputText formControlName="nameControl"
      [style]="{width: '100%'}" />
    <br />
    <label for="float-input">Category</label>
    <p-dropdown [options]="categories" formControlName="categoryControl" autoWidth="false" [style]="{'width':'100%'}">
    </p-dropdown>
    <br />
    <!-- <br /> -->
    <label for="float-input">Description</label>
    <br />
    <input placeholder="descriptionControl" id="float-input" type="text" pInputText formControlName="descriptionControl"
      [style]="{width: '100%'}" />
    <br />
  </form>
  <div class="buttons-container mt-5 d-flex justify-content-around">
    <button pButton pRipple type="button" label="Close" (click)="hideEditDialog()"
      class="modal-button btn-pos p-button-danger"></button>
    <button pButton pRipple type="submit" label="Submit" (click)="updateAsset()" [disabled]="!editAssetForm.valid"
      class="modal-button btn-pos p-button-success"></button>
  </div>
</p-dialog>


<!---------------------- DELETE MODAL ------------------------>
<p-dialog [(visible)]="displayDeleteModal" styleClass="asset-dialog" [modal]="true">
  <div style="display: flex; flex-direction: column; width: 100%; height: 100%">
    <i class="pi pi-times-circle" style="font-size: 7rem; align-self: center"></i>
    <h3 style="margin-top: 10px; text-align: center">Are you sure?</h3>
    <p style="margin-top: 10px; text-align: center">
      Do you really want to delete this asset? This process cannot be undone.
    </p>
    <div style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;   
          margin-top: 40px;
        ">
      <button pButton type="button" label="Cancel" class="p-button-danger" (click)="hideDeleteDialog()"></button>
      <button pButton type="button" label="Delete" class="p-button-success" (click)="deleteAsset(assetId)"></button>
    </div>
  </div>
</p-dialog>