<!-- =====================================ADD PROJECT BUTTON=============================== -->

<div class="add-button-container">
    <button (click)="showAddDialog()" type="button" class="btn-pos p-button-help"
        [style]="{width: '150px', height: '40px'}" pButton pRipple label="Add Company" icon="pi pi-plus"></button>
</div>

<!-- =============================MODAL FOR ADDING A PROJECT================================= -->

<p-dialog header="Add Company" [(visible)]="displayAddModal" [modal]="true" [style]="{width: '550px'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="addCompanyForm">
        <label for="float-input">Name</label>
        <br />
        <input placeholder="Company's Name" id="float-input" type="text" pInputText formControlName="nameControl"
            [style]="{width: '100%'}" />
        <br />
    </form>
    <div class="buttons-container">
        <button pButton pRipple type="submit" label="Close" (click)="hideAddDialog()"
            class="modal-button btn-pos p-button-danger"></button>

        <button pButton pRipple type="submit" label="Submit" (click)="addCompany()" [disabled]="!addCompanyForm.valid"
            class="modal-button btn-pos p-button-success"></button>
    </div>
</p-dialog>

<!---------------------- DELETE MODAL ------------------------>
<p-dialog [(visible)]="displayDeleteModal" styleClass="asset-dialog" [modal]="true">
    <div style="display: flex; flex-direction: column; width: 100%; height: 100%">
        <i class="pi pi-times-circle" style="font-size: 7rem; align-self: center"></i>
        <h3 style="margin-top: 10px; text-align: center">Are you sure?</h3>
        <p style="margin-top: 10px; text-align: center">
            Do you realy want to delete this company? This process cannot be undone.
        </p>
        <div style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 40px;
        ">
            <button pButton type="button" label="Cancel" class="p-button-danger" (click)="hideDeleteDialog()"></button>
            <button pButton type="button" label="Delete" class="p-button-success"
                (click)="deleteCompany(companyIdToDelete)"></button>
        </div>
    </div>
</p-dialog>

<!-- =============================MODAL FOR EDITING A COMPANY================================= -->

<p-dialog header="Edit Company" [(visible)]="displayEditModal" [modal]="true" [style]="{width: '550px'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="editCompanyFormGroup">
        <label for="float-input">Name</label>
        <br />
        <input placeholder="nameControl" id="float-input" type="text" pInputText formControlName="nameControl"
            [style]="{width: '100%'}" />
        <br />
    </form>
    <div class="buttons-container">
        <button pButton pRipple type="button" label="Close" (click)="hideEditDialog()"
            class="modal-button btn-pos p-button-danger"></button>
        <button pButton pRipple type="submit" label="Submit" (click)="updateCompany()"
            [disabled]="!editCompanyFormGroup.valid" class="modal-button btn-pos p-button-success"></button>
    </div>
</p-dialog>

<!-- ================================CARD================================= -->
<div *ngIf="(companyList|async); let listOfCompanies;">
    <div *ngIf="listOfCompanies.length===0">
        <h3>There are currently no companies.</h3>
        <h3>You can add companies using the button on the top right corner.</h3>
    </div>

    <div class="card-container" *ngFor="let company of listOfCompanies">
        <p-card class="card-content" header={{company.name}} [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="subtitle">
            </ng-template>
            <div class="card-buttons">
                <div id="hover" div title="Edit Company" class="card-button pi pi-pencil"
                    (click)="showEditDialog(company)"></div>
                <div id="hover" div title="Delete Company" class="card-button pi pi-trash"
                    (click)="showDeleteDialog(company)"></div>
                <div id="hover" div title="Display Company" class="card-button pi pi-bars"
                    routerLink="companyDetails/{{ this.company.id }}"></div>
            </div>
        </p-card>
    </div>