<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Fixed Assets Management Application!</h1>
        <p class="lead">Gestionarea eficientă a mijloacelor fixe este esențială pentru succesul oricărei afaceri. La
            FixedAssetsManagement, ne propunem să vă oferim o soluție completă și simplă pentru a vă ajuta să
            monitorizați și să gestionați eficient toate mijloacele fixe ale companiei dumneavoastră</p>
    </div>
</div>
<div>
    <img class="d-block w-100"
        src="https://4.bp.blogspot.com/-Mi-AciHblHo/VR_A5R9_nJI/AAAAAAAAprM/ONEOdnes2vA/s1600/Malmo%2BOffice%2BTower.jpg">
</div>