<div class="login-box">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="user-box">
            <input type="text" ngModel name="email" id="email" placeholder="Enter your email">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" ngModel name="password" id="password" placeholder="Enter your password">
            <label>Password</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Login" class="btn btn-outline-primary form-control rounded-0">
        </a>
    </form>
</div>